#inspiration:target {
    display: block;
    position: relative;
    top: -65px; 
    visibility: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.4em;
}

div.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

div.section {
    width: 100%;
    overflow: hidden;
}

div.content {
    position: relative;
    height: 100%;
}

div.right, div.left {
    position: relative;
}

div.left-text {
    background-image: linear-gradient(to top, #DC143C, #DC4F3C);
}

div.left-text h1{
    color: #ffffff
} 

div.left-text p{
    color: rgba(255, 255, 255, 0.5);
}

#section-1 {
    padding-top: 80px;
}

@media (min-width: 48em) {

    div.section {
        height: 750px;
    }

    div.content {
        max-width: 1500px;
        margin: 0 auto;
        padding: 0 40px;
    }    
    
    #section-final {
        height: 350px;
    }

    div.right, div.left {
        height: 100%;
    }

    div.right {
        float: right;
    }
    
    div.left {
        float: left;
    }
    
    div.right-text .right {
        width: 33%;
    }
    
    div.right-text .left {
        width: 60%;
    }
    
    div.left-text .right {
        width: 60%;
    }
    
    div.left-text .left {
        width: 33%;
        transform: translate(25%);
    }

    #section-1 .right {
        width: 38%;
    }

    #section-1 .left {
        width: 58%;
    }

    div.text-box {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .section-asset{
        position: absolute;
        width: 100%;
        max-height: 100%;
    
        top: 50%;
        transform: translate(0, -45%);
        overflow: hidden;
    }

    #section-1 .section-asset{
        top: 45%;
    }

    #section-1 div.right {
        transform: translate(50px);
    }
    
    #movie {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }   
    
    #movie-container {
        z-index: 1;
        overflow: hidden;
        
        padding-top: 49%;
        position: relative;
    
        width: 77%;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img.app-icon {
        position: absolute;
        height: 65%;
    
        right: 0;
        overflow: hidden;
    
        top: 50%;
        transform: translate(0, -50%);
    
        -webkit-filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.25));
        filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.25)); 
    }
    
    #section-final div.content{
        height: 100%;
        padding-bottom: 70px;
    }
    
    #section-final .right {
        overflow: visible;
        width: 53%;
        transform: translate(5%);
    }
    
    #section-final .left {
        width: 47%;
        transform: translate(-5%);
    }
    
    #section-final .text-box {
        width: 65%;
        transform: translate(-0, -50%);
    }
    
    #section-final div.text-box, p {
        width: 75%;
    }
}

@media (max-width: 1500px) {
    h1 {
        font-size: 3vw;
    }
    p {
        font-size: 1.5vw;
    }

    div.section {
        height: 50vw;
    }
}

/* Mobile window view changes */
@media (max-width: 48em) {

    h1 {
        font-size: 2em;
    }
    
    p {
        font-size: 1em;
    }
    div.section {
        width: 100%;
        height: fit-content;
        padding-bottom: 20px;
    }

    div.content {
        padding: 10px 20px;
        height: 100%;
    }

    div.right, div.left {
        width: 100%;
    }
    
    div.right-text .right {
        height: 100%;
    }
    
    div.right-text .left {
        height: 100%;
    }
    
    div.left-text .right {
        height: 100%;
    }
    
    div.left-text .left {
        height: 100%;
    }
    
    #section-1 div.text-box {
        padding-bottom: 30px;
    }

    div.text-box {
        padding-top: 20px;
        width: 100%;
        height: fit-content;
        text-align: center;
    }
    
    .section-asset{
        padding-top: 20px;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    #section-2 div.right {
        position: relative;
    }
    
    #movie {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }   
    
    #movie-container {
        z-index: 1;
        overflow: hidden;

        padding-top: 50%;
        position: absolute;
    
        width: 77%;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -53%);
    }

    img.app-icon {
        padding-top: 10px;
        position: relative;
        height: 100px;
    
        left: 50%;
        transform: translate(-50%);

        -webkit-filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.25));
        filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.25)); 
    }

    #section-final, #section-final .content, #section-final .left, #section-final .right {
        height: fit-content;
    }

    #section-final div.text-box {
        padding-bottom: 35px;
    }
}

@media (max-width: 48em) and (min-width: 38em) {
    div.text-box{
        width: 80%;
        margin: 0 auto;
    }
}


.container a, .container h1, .container h2, .container p, .container div.content{
    opacity: 0;

    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.container a, .container h1, .container p, .container a {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.container div.content {
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
}

.container h1 {
    animation-delay: 0.15s;
}

.container p {
    animation-delay: 0.3s;
}

.container a {
    animation-delay: 0.5s;
}

/*
.media {
    display: block;
    max-width: 800px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(1,70,143,0.2);
}

.pdf-land, .pdf-port {
    width: 90%;
    height: auto;
    max-height: 600px;
    display: block;
    border: none;
    overflow: auto;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pdf-land {
    aspect-ratio: 16 / 9;
}

.pdf-port {
    aspect-ratio: 3 / 4;
}
    */