/* Remove centering for the body and adjust width */
body {
    width: 90%;  /* Ensure the body spans the full width */
    min-height: 100%;
    margin: 0;    /* Remove any auto margin */
    max-width: 1500px;
    padding: 0 20px; /* Optional: Add padding to body content */
}

nav ul, footer ul {
    display: flex;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul > li, footer ul > li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

nav ul li ul.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav ul li:hover ul.dropdown-content {
    display: block;
}

nav ul li ul.dropdown-content li {
    display: block;
    margin: 0; 
}

footer {
    border-top: 1px solid #d5d5d5; /* Gray line */
    text-align: center; /* Center the content */
    padding: 10px 0; /* Add some spacing */
    font-size: 0.8em; /* Slightly smaller text */
    color: #666; /* Subtle text color */
    width: 100%; /* Ensure it spans the full width */
    bottom: 0; /* Stick to the bottom */
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
    text-align: left; /* Align text to the left */
}

/* General Media Styles */
.media {
    display: block;
    max-width: 1000px; /* Set a maximum width for responsiveness */
    height: auto; /* Maintain aspect ratio */
    margin: 20px auto;
}

/* Specific Adjustments */
.vid {
    width: 100%;
    height: auto;
}

.pdf-land, .pdf-port {
    width: 70%;
    height: auto;
    max-height: 600px;
    margin: 20px auto;
    display: block;
    border: none;
}

.pdf-land {
    aspect-ratio: 16 / 9;
}

.pdf-port {
    aspect-ratio: 3 / 4;
}

.img {
    width: auto;
    height: auto;
    max-height: 600px;
}

.col-65 {
    width: 65%;
}

.col-30 {
    width: 30%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

/* Left Column */
.left-column {
    width: 30%;
    text-align: center;
}

.profile-photo {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

.left-column h1 {
    font-size: 2em;
    margin-top: 10px;
    color: #333;
}

.left-column p {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}

.left-column ul {
    list-style: none;
    padding: 0;
    font-size: 1em;
}

.left-column ul li {
    margin: 10px 0;
}

.left-column ul li a {
    text-decoration: none;
    color: #1a73e8;
}

.left-column ul li a:hover {
    text-decoration: underline;
}

/* Right Column */
.right-column {
    width: 65%;
    padding-left: 20px;
}

.right-column p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #333;
}

.small-logo {
    width: 20px; /* Set appropriate size */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align with text */
    margin-right: 10px; /* Add space between logo and text */
}

ul.contact-info {
    list-style: none;
    padding: 0;
}

ul.contact-info li {
    margin: 10px 0;
    font-size: 1.2em; /* Adjust size */
}
