/* Original Navigation and Footer Styles */
body {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px; 
}

nav ul, footer ul {
    display: flex;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul > li, footer ul > li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

nav ul li ul.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav ul li:hover ul.dropdown-content {
    display: block;
}

nav ul li ul.dropdown-content li {
    display: block;
    margin: 0; 
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1000px;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    color: #333;
    max-width: 1000px;
    text-align: left;
}

/* General Media Styles */
.media {
    display: block;
    max-width: 1000px; /* Set a maximum width for responsiveness */
    height: auto; /* Maintain aspect ratio */
    margin: 20px auto;
}

/* Specific Adjustments */
.vid {
    width: 100%;
    height: auto;
}

.pdf-land, .pdf-port {
    width: 100%; /* Use the full width of the container */
    height: auto; /* Dynamic height based on the viewport */
    max-height: 600px;
    margin: 20px auto;
    display: block; /* Ensures block-level rendering */
    border: none; /* Remove any unwanted borders */
}

/* Landscape PDFs */
.pdf-land {
    aspect-ratio: 16 / 9; /* Ensure appropriate ratio */
}

/* Portrait PDFs */
.pdf-port {
    aspect-ratio: 3 / 4; /* Ensure appropriate ratio */
}

/* Images */
.img {
    width: auto;
    height: auto; /* Maintain aspect ratio */
    max-height: 600px;
}
.container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
}

.left-60 {
    width: 60%;
}

.right-30 {
    width: 30%;
}