html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div.container {
    width: 100%;
    height: 100%;
    margin-top: 65px;
    overflow: hidden;
}

@media (min-height: 50em) {
    div.container{
        overflow-y: hidden;
    }
}

@media (max-height: 50em) {
    div.container{
        overflow-y: scroll;
    }
}

@media (min-width: 55em) {
    
    div.split{
        min-height: 55em;
        max-width: 1500px;
        margin: 0 auto;
    }

    div.left {
        margin-top: -65px;
        float: left;
        text-align: center;
    }

    div.right {
        float: right;
    }

    img, video {
        max-height: 100%;
        display: block;
        position: absolute;
    }

    div.split, div.left, div.right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

    }

    div.left, div.right {
        position: relative;
        width: 50%;
    }
}


@media (max-width: 55em) {

    #animation {
        min-width: 100vw;
    }

    img, video {
        min-height: 300px;
        max-height: 25vw;
        padding: 10px 0;
    }

    div.container {
        height: 100%;
    }

    div.split{
        min-height: 45em;
        padding-bottom: 20px;
    }

    div.left, div.right {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    div.left{
        display: table-footer-group;
    }

    div.right{
        display: table-header-group;
    }
}

.container a, .container h1, .container h2, .container p, .container video {
    opacity: 0;

    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.container a, .container h1, .container h2, .container p {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.container video {
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
}

.container h2 {
    animation-delay: 0.25s;
}

.container p {
    animation-delay: 0.4s;
}

.container a {
    animation-delay: 0.55s;
}

.container video {
    animation-delay: 0.35s;
}

@media (max-width: 55em) {
    .container video {
        animation-duration: 1s;
        -webkit-animation-duration: 1s;

        animation-delay: 0s;
    }

    .container h1 {
        animation-delay: 0.15s;
    }

    .container h2 {
        animation-delay: 0.25s;
    }
    
    .container p {
        animation-delay: 0.4s;
    }
    
    .container a {
        animation-delay: 0.55s;
    }
}