<nav>
    <ul>
      <li><a href=index.html>Main Website</a></li>
      <li><a href=about.html>About Me</a></li>
      <li><a href=nsc.html>About This Portfolio</a></li>
      <li class="dropdown">
       <a href=#>Topic 1</a>
       <ul class="dropdown-content">
         <a href="#">Artifact 1</a>
         <a href="#">Artifact 2</a>
         <a href="#">Artifact 3</a>
       </ul>
     </li>
     <li class="dropdown">
        <a href=#>Topic 2</a>
        <ul class="dropdown-content">
          <a href="#">Artifact 1</a>
          <a href="#">Artifact 2</a>
          <a href="#">Artifact 3</a>
        </ul>
     </li>
    </ul>
</nav>