<div class="header-container">
    <a href="#" class="logo">Elena Sierra's Science Communication Portfolio</a>
    <input class="menu-btn" type="checkbox" id="menu-btn">
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li>
            <a href="#">Educate <i class="fa fa-caret-down"></i></a>
            <ul class="submenu">
                <li><a href="#">art1</a></li>
                <li><a href="#">art2</a></li>
                <li><a href="#">art3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Uplift <i class="fa fa-caret-down"></i></a>
            <ul class="submenu">
                <li><a href="test_alg_hiring.html">Algorithmic Hiring Bias</a></li>
                <li><a href="#">art2</a></li>
                <li><a href="#">art3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Sustain <i class="fa fa-caret-down"></i></a>
            <ul class="submenu">
                <li><a href="#">art1</a></li>
                <li><a href="#">art2</a></li>
                <li><a href="#">art3</a></li>
            </ul>
        </li>
        <li><a href="aboutme.html">Contact</a></li>
    </ul>
</div>