
<a href="nsc.html" class="logo">Elena Sierra's Science Communication Portfolio</a>
<input class="menu-btn" type="checkbox" id="menu-btn">
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
    <li>
        <a id="selected" href="#">Educate <i class="fa fa-caret-down"></i></a>
        <ul onclick="" class="submenu">
            <li><a id="selected" href="#">art1</a></li>
            <li><a id="selected" href="#">art2</a></li>
            <li><a id="selected" href="#">art3</a></li>
        </ul>
    </li>
    <li>
        <a id="selected" href="#">Uplift <i class="fa fa-caret-down"></i></a>
        <ul onclick="" class="submenu">
            <li><a id="selected" href="test_alg_hiring.html">Algorithmic Hiring Bias</a></li>
            <li><a id="selected" href="#">art2</a></li>
            <li><a id="selected" href="#">art3</a></li>
        </ul>
    </li>
    <li>
        <a id="selected" href="#">Sustain <i class="fa fa-caret-down"></i></a>
        <ul onclick="" class="submenu">
            <li><a id="selected" href="#">art1</a></li>
            <li><a id="selected" href="#">art2</a></li>
            <li><a id="selected" href="#">art3</a></li>
        </ul>
    </li>
    <li><a href="aboutme.html">Contact</a></li>
</ul>