<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/art.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>
<body>
  <div class="container">
  {% include nsc_header.html %}
  </div>
  {{ content }}
  <div class="center">
  <img src="artifacts/eq.png" alt="equity" class="profile-photo">
</div>
<div class="container">
<footer>
    <ul>
        <li><a href="index.html">Back to Main Website</a></li>
        <li>© 2025 Elena Sierra</li>
    </ul>
</footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>